* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Arial Narrow Bold', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20% 10px 30px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: #000;
    z-index: 5;
    border-bottom: 10px solid;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    border-image-slice: 1;
}

.wrapper {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #181818;
}

.brand-title {
    font-size: 42px;
    color: #fff;
}

.header-navigator ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header-navigator ul li {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 20px;
    border-radius: 12px;
    transition: background-color 350ms ease;
}

.header-navigator ul li+li {
    margin-left: 15px;
}

.header-navigator ul li:hover {
    background-color: purple;
}

.footer {
    width: 100%;
    height: 90px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer>a {
    color: #fff;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: purple;
    padding: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(80, 2, 80);
    border-radius: 12px;
    padding: 5px;
}